<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"> 
      <link rel="stylesheet" href="styles.css">
      <title>Show Events</title>
  </head>

  <body>
  <a href="/home">Home</a>

  <h2>Events</h2>

{{#each events}}
    <head>Name: {{this.name}}</head>
    <p>ID: {{this.id}}</p>
    <p>Sales start: {{this.salesStart}}</p>
    <p>Sales end: {{this.salesEnd}}</p>
    <p>Event dates: {{this.eventDates}}</p>
    <p>Segment: {{this.segment}}</p>
    <p>Genre: {{this.genre}}</p>
    <p>subGenre: {{this.subGenre}}</p>
    <p></p>
   
{{/each}}

  </body>
</html>