<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"> 
      <link rel="stylesheet" href="styles.css">
      <title>All Groups</title>
  </head>
  
  <body>
  <a href="/site/home.html">Home</a>
  <h2>All Groups</h2>

  {{#each groups}}
    <head>Group:{{name}}</head>
    <p>Description:{{description}}</p>
    <p>Id:{{id}}</p>
    <p>UserId:{{userId}}</p>
    <p>Events:{{events}}</p>
  {{/each}}

  {{!-- <form action="/group" method="post">
    <input type="submit" value="Go">
  </form> --}}
</html>
