<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  
  <body>
    <a href="/site/home.html">Home</a>
    <h2>Group</h2>

    {{#if group}}
        <head>Name:{{group.name}}</head>
        <p>Description:{{group.description}}</p>
        <p>Id:{{group.id}}</p>
        <p>UserId:{{group.userId}}</p>
        <p>Events:
            {{#if group.events}}
                {{#each events}}
                    <head>Name: {{name}}</head>
                    <p>Image: {{Image}}</p>
                    <p> Sales start: {{salesStart}}</p>
                    <p>Sales end: {{salesEnd}}</p>
                    <p>Event dates: {{date}}</p>
                    <p>Segment: {{segment}}</p>
                    <p>Genre: {{genre}}</p>
                    <p>subGenre: {{subGenre}}</p>
                {{/each}}
            {{/if}}
        </p>
    {{/if}}  

    {{#if message}}
        <h3>{{message}}</h3>
    {{/if}}
  </body>

</html>
